<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Studicons" %></title>
    <%= stylesheet_link_tag "base" %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" charset="utf-8"></script>
    <%= javascript_include_tag "base" %>
    
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>
  <body>
    <%= yield %>
  </body>

</html>
