@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700");
.mb-8 {
  margin-bottom: 8px; }

.mb-16 {
  margin-bottom: 16px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-48 {
  margin-bottom: 48px; }

.mb-56 {
  margin-bottom: 56px; }

.mb-64 {
  margin-bottom: 64px; }

.mb-128 {
  margin-bottom: 128px; }

.mt-8 {
  margin-top: 8px; }

.mt-16 {
  margin-top: 16px; }

.mt-24 {
  margin-top: 24px; }

.mt-32 {
  margin-top: 32px; }

.mt-40 {
  margin-top: 40px; }

.mt-48 {
  margin-top: 48px; }

.mt-56 {
  margin-top: 56px; }

.mt-64 {
  margin-top: 64px; }

.mt-128 {
  margin-top: 128px; }

html {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: #cccccc; }

body {
  background-color: #081E23;
  color: #fff;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Helvetica", Arial, sans-serif;
  padding: 0;
  margin: 0;
  grid-column: span 12; }

.header, .footer {
  display: grid;
  background: #0A292F;
  padding: 96px 0 96px 0;
  text-align: center;
  grid-template-columns: repeat(12, 1fr); }
  .header *, .footer * {
    grid-column: 3 / 11;
    justify-self: center; }

.content {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.disclaimer {
  grid-column: 3 / 11; }
  .disclaimer p {
    font-size: 1em;
    line-height: 1.5em;
    color: #A2A2A2;
    text-align: center;
    font-weight: 300; }

.text-and-screen {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .text-and-screen .text-area {
    grid-column: 2 / 7;
    -ms-flex-item-align: center;
        align-self: center; }
  .text-and-screen .screen-area {
    grid-column: 7 / 13;
    justify-self: right; }
    .text-and-screen .screen-area img {
      width: 100%; }

.icon-preview--text, .twitter-testimonials--text {
  grid-column: 4 / 10;
  margin-top: 128px;
  text-align: center; }
  .icon-preview--text input, .twitter-testimonials--text input {
    width: 50%; }

.imprint {
  grid-column: 3 / 11;
  margin-top: 128px;
  text-align: left; }

.icon-preview {
  grid-column: 2 / 12;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  grid-gap: 1em; }
  .icon-preview .icon-preview--item {
    padding: 24px;
    border: 2px solid #2FCDE8; }
    .icon-preview .icon-preview--item .icon--name {
      color: white; }

.feature-boxes {
  grid-column: 2 /12;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(4, 1fr);
  text-align: center; }

.no-icons-found {
  grid-column: 4 / 10;
  margin-top: 16px;
  text-align: center;
  display: none; }

.twitter-testimonials {
  grid-column: 2 /12;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 16px; }

.twitter-testimonial {
  margin-bottom: -24px; }
  .twitter-testimonial .EmbeddedTweet {
    max-width: 128px !important;
    margin: 0 !important; }

input[type="text"] {
  font-family: inherit;
  background: transparent url("../images/icon-search.svg") center left no-repeat;
  border: none;
  border-bottom: 2px solid rgba(47, 205, 232, 0.5);
  color: white;
  line-height: 1.5em;
  font-size: 1.125em;
  padding: .25em 2em;
  width: 300px;
  font-weight: 200;
  outline: none;
  -webkit-transition: .4s;
  transition: .4s; }
  input[type="text"]::-webkit-input-placeholder {
    color: white; }
  input[type="text"]:-ms-input-placeholder {
    color: white; }
  input[type="text"]::-ms-input-placeholder {
    color: white; }
  input[type="text"]::placeholder {
    color: white; }
  input[type="text"]:focus {
    border-bottom: 2px solid #2fcde8; }

.cta {
  font-size: .7;
  padding: 1em 2em;
  border: 2px solid #2FCDE8;
  border-radius: .5em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: .3s;
  transition: .3s; }
  .cta:hover {
    color: #2FCDE8; }
  .cta:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  .cta.size--sm {
    font-size: .5;
    padding: .5em 1.5em; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

h1 {
  font-size: 3em;
  font-weight: 400; }

h2 {
  font-weight: 500;
  font-size: 2.25em; }

h3 {
  font-weight: 500;
  font-size: 2.25em; }

h4 {
  font-size: 1.125em;
  font-weight: 300; }

.strong {
  font-weight: 600; }

h5 {
  color: #2FCDE8;
  font-size: 0,875em; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: .3s;
  transition: .3s; }
  a:hover {
    text-decoration: none;
    color: #2FCDE8; }

p {
  font-size: 1em;
  color: #A2A2A2;
  line-height: 1.5em; }

.footer--text {
  color: white;
  font-size: .875em; }

a.small {
  font-size: 0.625em;
  color: #A2A2A2; }

p.icon--name {
  font-size: .875em; }

input[type="email"] {
  padding: 12px;
  border: 0px solid transparent;
  border-radius: 4px;
  font-size: 1em; }

input[type="submit"], input[type="button"] {
  font-size: .7;
  padding: 1em 2em;
  border: 2px solid #2FCDE8;
  border-radius: .5em;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
  -webkit-transition: .3s;
  transition: .3s; }
  input[type="submit"]:hover, input[type="button"]:hover {
    color: #2FCDE8; }
  input[type="submit"]:active, input[type="button"]:active {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }

@media only screen and (max-width: 1024px) {
  .feature-boxes {
    grid-column: 2 /12;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    text-align: center; } }
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .content {
    overflow-x: hidden; }

  .header *, .footer * {
    grid-column: 2 / 12; }
  .header h1, .footer h1 {
    font-size: 2em; }

  .disclaimer {
    grid-column: 2 / 12; }
    .disclaimer p {
      text-align: left; }

  .text-and-screen {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr); }
    .text-and-screen .text-area {
      grid-column: 2 / 11;
      -ms-flex-item-align: center;
          align-self: center;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .text-and-screen .screen-area {
      grid-column: 2 / 13;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      margin-bottom: 32px; }

  .icon-preview--text, .twitter-testimonials--text {
    grid-column: 2 / 12; }
    .icon-preview--text input[type="text"], .twitter-testimonials--text input[type="text"] {
      width: 240px; }

  .no-icons-found {
    grid-column: 2 / 12; }

  .feature-boxes {
    grid-column: 2 /12;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr;
    text-align: center; } }
@media only screen and (min-width: 1681px) {
  body {
    grid-column: 3 / 11;
    -webkit-box-shadow: 0 0 4px #081e23;
            box-shadow: 0 0 4px #081e23; } }
