<div class="twitter-testimonial">
  <blockquote class="twitter-tweet" data-lang="de"><p lang="en" dir="ltr">Is the government down for anyone else or is it just me?</p>&mdash; Josh Helfferich (@JoshHelfferich) <a href="https://twitter.com/JoshHelfferich/status/954609639366119424?ref_src=twsrc%5Etfw">20. Januar 2018</a></blockquote>
</div>